@import "tailwindcss";

/* Configura la variante dark para que se active cuando el elemento tenga la clase .dark */
@custom-variant dark (&:where(.dark, .dark *));
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

/* Estado inicial: el elemento esta oculto y desplazado un poco hacia abajo */
.scroll-reveal {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.7s ease-out;
}

/* Estado final: cuando el elemento es visible */
.animate-reveal {
  opacity: 1;
  transform: translateY(0);
}




@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}



/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble {
  0%,
  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  25% {
    transform: rotate3d(1, 0, 0, 5deg);
  }
  75% {
    transform: rotate3d(1, 0, 0, -5deg);
  }
}

.inception-top {
  animation: spin 10s linear infinite, wobble 5s ease-in-out infinite;
  transform-origin: center bottom;
  filter: drop-shadow(0 0 10px rgba(167, 139, 250, 0.5));
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}

/* Efecto de brillo para la peonza */
/* @keyframes glow {
  0%,
  100% {
    filter: drop-shadow(0 0 5px rgba(167, 139, 250, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(167, 139, 250, 0.8));
  }
}

.inception-top {
  animation: spin 10s linear infinite, wobble 5s ease-in-out infinite, glow 4s ease-in-out infinite;
}

/* Mejora la transición del botón */
/* button {
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 4px 6px rgba(99, 102, 241, 0.5);
}  */

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */ 
